#heading{
    width: 100% !important;
    font-size: 35px !important;
    margin-top: 0 !important;
    text-align: center;
}

body{
    background-size: cover;
    text-align: center;
}

canvas{
    border: 5px ridge #000000;
    background-color: white;
}

button{
    margin-top: 10px;
}